{% extends "base.html" %}

{% block title %}
<title>Shinpaku - User Login - Watch online anime videos</title>
{% endblock%}

{% block icerik %}
<div class="login">
	<div class="konuicibaslik">Login</div>

	<form method="post" action=".">{% csrf_token %}
	{% if form.errors %}
	<p>Username and password did not match</p>
	{% endif %}
	<div class="formlabel">
		<div class="formlabel2"><label for="id_username">Username</label></div>
		{{ form.username }}
	</div>
	<div class="formlabel">
		<div class="formlabel2"><label for="id_password">Password</label></div>
		{{ form.password }}
	</div>
	<input type="hidden" name="next" value="/" />
	<input type="submit" value="login" />
</div>
{% endblock %}
